
<div class="jumbotron">
  <h1>Scotchme</h1>
  <p>Find a Scotch whisky to suit your palette...and your budget.</p>
  <p>To get started:</p>
  <p><a class="btn btn-primary btn-lg" role="button" href="/signup">Sign up now</a></p>
</div>
<div class="container">
	
</div>
