
<div class="jumbotron">
  <h1>Scotch Me</h1>
  <p>Find Single Malt Scotch that fits your palette, and your wallet.</p>
  <p>To get started:</p>
  <p><a class="btn btn-primary btn-lg" role="button" href="/signup">Search</a></p>
  <p><a class="btn btn-info btn-lg" role="button" href="/signup">Sign up now</a></p>
</div>
<div class="container">

	</div>
</div>
