
<div class="jumbotron">
  <h1>Scotch Me</h1>
  <p>Find Single Malt Scotch that fits your palette, and your wallet.</p>
  <p>To get started:</p>
  <p><a class="btn btn-primary btn-lg" role="button" href="/signup">Sign up now</a></p>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h3>Explore Flavor Profiles</h3>
		</div>
		<div class="col-md-4">
			<h3>Find Deals</h3>
		</div>
		<div class="col-md-4">
			<h3>Fall in love with Scotch</h3>
		</div>
	</div>
</div>
