<div class="row">
	<div class="col-sm-12">
		<h2>Find Scotch</h2>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h3 id="producer-search">Go to a Scotch Producer Profile:</h3>
		<form action="/search" method="post">
			<select name="producerId" id="producer">
				<% producers.forEach(function(producer, index) { %>
					<option value="<%= producer.dataValues.id %>"><%= producer.dataValues.name %></option>
				<% }) %>
			</select>
			<input type="hidden" name="searchType" value="producerSearch">
			<input class="btn btn-success btn-sm" type="submit" value="Go">
		</form>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-xs-6">
		<h3 id="quick-search">Quick Search</h3>
		<p><em>Find by broad Flavor Profiles:</em></p>
		<div class="row quick-search">
			<div class="col-sm-3 col-xs-6">
				<form action="/search" method="post">
					<input type="hidden" name="flavor" id="flavor" value="Smoky">
					<input type="hidden" name="searchType" id="quick-search" value="quickSearch">
					<input class="link" type="submit" value="Smoky">
				</form>
				<span class="down-under">just like it sounds</span>
			</div>
			<div class="col-sm-3 col-xs-6">
				<form action="/search" method="post">
					<input type="hidden" name="flavor" id="flavor" value="Rich">
					<input type="hidden" name="searchType" id="quick-search" value="quickSearch">
					<input class="link" type="submit" value="Rich">
				</form>
				<span class="down-under">tobacco, vanilla, nuts, chocolate</span>
			</div>
			<div class="col-sm-3 col-xs-6">
				<form action="/search" method="post">
					<input type="hidden" name="flavor" id="flavor" value="Light">
					<input type="hidden" name="searchType" id="quick-search" value="quickSearch">
					<input class="link" type="submit" value="Light">
				</form>
				<span class="down-under">soft, grains, fruit</span>
			</div>
			<div class="col-sm-3 col-xs-6">
				<form action="/search" method="post">
					<input type="hidden" name="flavor" id="flavor" value="Delicate">
					<input type="hidden" name="searchType" id="quick-search" value="quickSearch">
					<input class="link" type="submit" value="Delicate">
				</form>
				<span class="down-under">floral, grassy</span>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h3 id="deep-search">Dial up the perfect Scotch</h3>
		<div class="row">
			<div class="col-sm-4">
				Dial module
			</div>	
		</div>
	</div>
</div>