<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<% if(typeof message !== 'undefined') { %>
			<div class="alert alert-danger"><%= message %></div>
		<% } %>
		<h2>Sign up</h2>
		<form action="/signup" method="post" role="form">
			<div class="form-group">
				<label for="user-email" class="control-label">Email:</label>
				<input class="form-control" type="text" name="email" id="user-email" placeholder="Email">
			</div>
			<div class="form-group">
				<label for="user-password" class="control-label">Password:</label>
				<input class="form-control" type="password" name="password" id="user-password" placeholder="Password">
			</div>
			<div class="form-group">
				<label for="user-dob" class="control-label">Date of Birth:</label>
				<input class="form-control half-width" type="date" name="dob" id="user-dob">
			</div>
			<input class="btn btn-success" type="submit" value="Sign up">
		</form>
		<p class="below-form">Already a member? <a href="/login">Login here</a>.</p>
	</div>
</div>
