// Colors
$trans-gray: rgba(200, 200, 200, .25);

.page-header {
	overflow: hidden;
	margin: 0;
}
.content {
	margin-top: 40px;
}

.half-width {
	width: 50%;
}
.below-form {
	margin-top: 2em;
}

// -- Whisky Profile Show --
.results-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-indent: none;
	li {
		background: $trans-gray;
		padding: 1em;
		margin-bottom: .5em;
	}
}
