// Colors
$trans-gray: rgba(200, 200, 200, .25);
$orange: #df691a;

.row {
	margin-bottom: 2em;
}

.page-header {
	overflow: hidden;
	margin: 0;
}
.content {
	margin-top: 40px;
}

.half-width {
	width: 50%;
}
.below-form {
	margin-top: 2em;
}

// -- Whisky Profile Show --
.producer-img-wrapper {
	overflow: hidden;
	.producer-img {
		width: 150px;
	}
}
.quick-search {
	text-align: center;
	form {
		width: 100%;
	}
	input[type="submit"] {
		display: block;
		font-size: 1.5em;
		appearance: none;
		background: none;
		border: none;
		outline: none;
		color: $orange;
		display: block;
		text-align: center;
		width: 100%;
	}
	.down-under {
		display: block;
	}
}


.results-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-indent: none;
	li {
		background: $trans-gray;
		padding: 1em;
		margin-bottom: .5em;
	}
}
