.page-header {
  overflow: hidden;
  margin: 0; }

.content {
  margin-top: 40px; }

.half-width {
  width: 50%; }

.below-form {
  margin-top: 2em; }

.results-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-indent: none; }
  .results-list li {
    background: rgba(200, 200, 200, 0.25);
    padding: 1em;
    margin-bottom: .5em; }
