.jumbotron {
  background: url(/images/tartan.png) top left;
  text-shadow: 1px 1px 2px #333;
  text-align: center; }
  .jumbotron h1 {
    font-family: 'Abril Fatface'; }
  .jumbotron p {
    font-weight: bold; }

.navbar-brand {
  font-family: 'Abril Fatface'; }

h2 {
  font-family: 'Abril Fatface'; }

@media (max-width: 745px) {
  h2, h3 {
    text-align: center; } }

.row {
  margin-bottom: 2em; }
  @media (max-width: 745px) {
    .row {
      margin-bottom: 0; } }

.page-header {
  overflow: hidden;
  margin: 0; }

.content {
  margin-top: 40px; }

.half-width {
  width: 50%; }

.below-form {
  margin-top: 2em; }

.producer-img-wrapper {
  overflow: hidden; }
  .producer-img-wrapper .producer-img {
    width: 150px; }

html .flavor-graph {
  color: none; }

.flavor-graph {
  width: 100px;
  text-align: center;
  position: relative;
  height: 450px;
  text-align: center;
  position: relative;
  margin: 0 20%;
  margin-top: -50px;
  color: white; }

.drop {
  background: #df691a;
  opacity: .75;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  margin: 0 auto;
  margin-top: -10px;
  padding-top: .75em;
  position: absolute;
  top: 0;
  transition: all 2s ease;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transtion: all 2s ease; }
  .drop .dataLabel {
    position: relative;
    display: block;
    margin-left: 100px;
    margin-top: -18px;
    opacity: 0;
    color: white;
    transition: all 2.3s ease;
    -webkit-transition: all 4.3s ease;
    -moz-transition: all 2.3s ease;
    -ms-transtion: all 2.3s ease; }
    .drop .dataLabel::before {
      content: '';
      position: absolute;
      border-top: rgba(255, 255, 255, 0.5);
      width: 30px;
      height: 1px;
      left: -40px;
      top: 10px;
      background: rgba(255, 255, 255, 0.5); }
  .drop .dataValue {
    opacity: 0;
    color: white;
    transition: all 2.3s ease;
    -webkit-transition: all 2.3s ease;
    -moz-transition: all 2.3s ease;
    -ms-transtion: all 2.3s ease; }
  .drop.drop0 {
    display: none; }
  .drop.drop1 {
    padding: 0;
    top: 40px;
    left: 40px; }
    .drop.drop1 .dataLabel {
      margin-left: 90px; }
  .drop.drop2 {
    height: 40px;
    width: 40px;
    top: 30px;
    left: 30px; }
  .drop.drop3 {
    height: 60px;
    width: 60px;
    top: 20px;
    left: 20px; }
    .drop.drop3 .dataLabel {
      margin-left: 110px; }
  .drop.drop4 {
    height: 80px;
    width: 80px;
    top: 10px;
    left: 10px;
    padding: 2em; }
    .drop.drop4 .dataLabel {
      margin-left: 90px; }
  .drop.drop5 {
    height: 100px;
    width: 100px;
    top: 0; }

.flat-select {
  padding: 1em;
  background: rgba(255, 255, 255, 0.5);
  border-radius: none;
  height: 2em;
  position: relative;
  top: 1px; }
  .flat-select:focus {
    outline: none; }

.quick-search {
  text-align: center; }
  .quick-search form {
    width: 100%; }
  .quick-search input[type="submit"] {
    display: block;
    font-size: 1.5em;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    color: #df691a;
    display: block;
    text-align: center;
    width: 100%; }
    .quick-search input[type="submit"]:hover {
      text-decoration: underline; }
  .quick-search .down-under {
    display: block; }

.results-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-indent: none; }
  .results-list .row {
    margin-bottom: 0; }
  .results-list li {
    background: rgba(200, 200, 200, 0.25);
    padding: 1em;
    margin-bottom: .5em; }
  .results-list .producer-img-wrapper {
    height: 100px; }
    .results-list .producer-img-wrapper .producer-img {
      width: 100px; }
  .results-list .view-profile {
    margin-top: 2em; }

.search-params {
  display: inline-block;
  margin: 0 1em 0 0;
  padding: 0 1em 0 0;
  font-weight: bold;
  font-style: oblique;
  border-right: 1px solid rgba(255, 255, 255, 0.5); }

.search-params:last-of-type {
  border-right: none;
  margin-left: 0; }

.search-params:first-of-type {
  margin-left: 1em; }

.dials .row {
  text-align: center; }
.dials .flavor-module {
  min-height: 100px;
  background: rgba(200, 200, 200, 0.25); }
  .dials .flavor-module label {
    display: block;
    position: relative;
    top: -1.75em;
    left: 1.75%;
    font-size: 2em; }
  .dials .flavor-module input[type="text"] {
    width: 3em;
    height: 3em;
    position: relative;
    top: -2.75em;
    left: 1.75%;
    margin: 0;
    background: rgba(255, 255, 255, 0.25);
    border: none;
    padding: 1.125em;
    font-size: 2em;
    color: white;
    font-weight: bold;
    border-radius: 100%;
    outline: none;
    appearance: none; }
  .dials .flavor-module .dial-wrapper {
    width: 200px;
    margin: 0 auto;
    height: 200px;
    position: relative; }
  .dials .flavor-module .dial-box {
    display: block;
    width: 1em;
    height: 3em;
    background: rgba(255, 255, 255, 0.5);
    border: rgba(226, 226, 226, 0.25);
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease; }
    .dials .flavor-module .dial-box.one {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      bottom: 0;
      left: 0; }
    .dials .flavor-module .dial-box.two {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      bottom: 35%;
      left: 15%; }
    .dials .flavor-module .dial-box.three {
      bottom: 50%;
      left: 50%; }
    .dials .flavor-module .dial-box.four {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      bottom: 35%;
      left: 85%; }
    .dials .flavor-module .dial-box.five {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      bottom: 0;
      left: 100%; }
    .dials .flavor-module .dial-box.highlight {
      background: #df691a; }

.orange {
  color: #df691a; }

.orange-bg {
  background: #df691a !important; }

.border-top {
  border-top: 2px solid rgba(255, 255, 255, 0.5); }

.btn-long {
  width: 50%; }

.center {
  margin-left: auto;
  margin-right: auto; }
