<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-default btn-sm" href="/search">&laquo; Back to search</a>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h2>Search Results</h2>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<ul class="results-list">
			<% profiles.forEach(function(profile, index) { %>
				<li><%= profile.producer.dataValues.name %></li>
			<% }) %>
					

			
		</ul>
	</div>
</div>
